# Database - Neon PostgreSQL
DATABASE_URL=
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# AI Services
OPENROUTER_API_KEY=
NVIDIA_API_KEY=

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# File Storage
UPLOAD_DIR="./public/uploads"
PDF_OUTPUT_DIR="./public/pdfs"


# Local Tectonic Path
TECTONIC_PATH="D:\\event_folde\\Event_management\\tectonic.exe"
